.Checkbox {
    --color: hsl(198, 100%, 42%);
    --size: 2rem;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    border: calc(var(--size) * .11) solid var(--color);
    border-radius: calc(var(--size) * .33);
    position: relative;
    font-size: calc(var(--size) * .5);
    transition: all ease-in-out .2s;
  }
  
  .Checkbox:hover {
    border-color:hsl(198, 100%, 52%)
  }
  
  .Checkbox i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    transition: all ease-in-out .2s;
  }
  
  .checked {
    background-color: var(--color);
  }
  
  .checked i {
    color: white;
  }