.SignForm {
    --border-color: white;
    --button-shadow-color: #08384a;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 384px;
}

.input-field {
    position: relative;
    font-size: 1rem;
    height: 62px;
    margin-bottom: 1rem;
}

.input-field > label {
    position: absolute;
    left: -9999px;
}

.input-field > input {
    background-color: var(--primary-color);
    border-radius: .8rem;
    font-size: inherit;
    height: 100%;
    padding-left: .75rem;
    color: white;
    outline: none;
    border: .175rem solid var(--border-color);
    transition: border ease-in-out .2s,
                outline linear .2s;
    position: relative;
}

.input-field > input:hover {
    border-color: var(--accent-color);
}

.input-field > input:focus + 
.input-field-outline  {
    transform: scale(1);
}

/*
.input-field > input:focus {
    outline: .125rem solid var(--accent-color);
    outline-offset: .25rem;
}
*/

.input-field-outline {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    outline: .125rem solid var(--accent-color);
    outline-offset: .25rem;
    border-radius: .8rem;
    transform: scale(0);
    transition: transform ease-in-out .2s;
    z-index: -1;
}

.input-field-focus {
    transform: scale(1);
}

.input-field > input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input-field > input, .submit-button {
    width: 100%;
}

.submit-button {
    cursor: pointer;
    height: 52px;
    border-radius: .8rem;
    border: none;
    outline: none;
    font-size: .95rem;
    font-family: inherit;
    font-weight: bold;
    color: white;
    background: linear-gradient(320deg, var(--accent-color), #08384a);
    box-shadow: 0 1px 0 0 var(--button-shadow-color), 
                0 2px 0 0 var(--button-shadow-color),
                0 3px 0 0 var(--button-shadow-color),
                0 4px 0 0 var(--button-shadow-color),
                0 5px 0 0 var(--button-shadow-color),
                0 6px 0 0 var(--button-shadow-color);
    transform: translateY(.25rem);
    transition: transform ease-in-out .2s;
}

.submit-button:hover {
    transform: translateY(0);
}

/*Sign Up*/

.input-field-pair {
    display: flex;
    justify-content: space-between;
}

.input-field-pair .input-field {
    width: 48%;
}