.Sign {
    padding: 8rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sign > h1 {
    margin-bottom: 3.4rem;
}

.Sign > p {
    margin-top: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: .9rem;
}

.Sign > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.Sign > p > a:hover {
    text-decoration: underline;
}