.TaskInput {
    width: 100%;
    margin: .5rem 0;
}

.TaskInput-field {
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    display: block;
    border: 0.15rem solid lightgray;
    border-radius: .25rem;
    color: white;
    background: transparent;
}

.TaskInput-field::placeholder {
    color: #cecece;
}

.TaskInput button {
    cursor: pointer;
    margin-top: .5rem;
    margin-right: .35rem;
    padding: .25rem .5rem;
    border: none;
    background-color: none;
    outline: none;
    border-radius: .2rem;
    font-size: 1rem;
}

.TaskInput-confirm {
    background-color: var(--accent-color);
    color: white;
}

.TodoInput-cancel {
    background-color: white;
    color: rgba(0, 0, 0, .88);
}