.Todo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: .25rem;
    margin: .25rem 0;
    transition: background-color .1s ease-in-out;
}

.Todo:hover {
    background-color: hsl(206, 27%, 10%);
}

.checkbox-col {
    flex: 1;
}

.Todo-task {
    flex: 9;
    list-style-type: none;
    color: white;
}

@media(max-width: 650px) {
    .Todo-task {
        padding-left: 1rem;
    }
}

.Todo-buttons {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.Todo-buttons button {
    cursor: pointer;
    padding-left: 1rem;
    background: none;
    border: none;
    font-size: 1rem;
    color: #dfdfdf;
}