.TodoApp {
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1080px;
}

.TodoApp nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.TodoApp .user-display {
}

.TodoApp .logout-form { 
}

.TodoApp .logout {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.TodoApp .logout i {
    font-size: 1.5rem;
}