.TodoInput {
    width: 100%;
    max-width: 940px;
    display: flex;
    font-size: 1rem;
}

.TodoInput-addButton {
    justify-content: center;
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
}

.TodoInput-addButton i {
    color: var(--accent-color);
    font-size: inherit;
    padding: .1rem .15rem;
    border-radius: .15rem;
    transition: all linear .1s;
}

.TodoInput-addButton span {
    margin-left: .8rem;
    transition: all linear .1s;
}

.TodoInput-addButton:hover i {
   background-color: var(--accent-color);
   color:white;
}

.TodoInput-addButton:hover span {
    color: var(--accent-color);
}