@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 18px;
  --primary-color: hsl(206, 27%, 13%);
  --accent-color: hsl(198, 100%, 42%);
}

body {
  background-color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}